body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 10px;
}

#logoutBtn {
    color: #fd5050;
}